<!doctype html>
<html ng-app="LanguageApp" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf8">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MIL-TRAINER</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Самопроверка</a></li>
                <li><a href="#">Видео Тест</a></li>
                <li><a href="#">Коррекция Речи</a></li>
                <li><a href="#">Зачетный Тест</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div ng-controller="SelfTrainerCtrl" class="col-md-8 col-md-offset-2">
            <h3>Самопроверка</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{positive}}%">
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{negative}}%">
                </div>
            </div>

            <audio-player ng-hide="questionData.variants || isDone"></audio-player>
            <a ng-href="#" ng-click="play()" class="btn btn-success pull-right" ng-hide="questionData.variants || isDone">Слушать</a>

            <form class="form-horizontal" ng-show="questionData.variants && !isDone">
                <div class="form-group">
                    <div class="radio" ng-repeat="questoin in questionData.variants">
                        <label>
                            <input type="radio" value="{{ $index }}" ng-model="answer" ng-change="doAnswer($index)" ng-disabled="isWrong || isDisabled">{{ questoin }}
                        </label>
                    </div>
                </div>
                <a ng-href="#" ng-click="repeat()" class="btn btn-danger pull-left" ng-show="isWrong">Повторить</a>
                <a ng-href="#" ng-click="nextItem()" class="btn btn-success pull-right" ng-show="showNext">Продолжить</a>
            </form>

            <div ng-show="isDone">
                Тест Окончен
            </div>
        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/scripts/directives/audioPlayer.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>