<h3>Зачетный Тест</h3>
<div class="progress" ng-show="isDone">
    <div class="progress-bar progress-bar-success" style="width: {{positive}}%">
    </div>
    <div class="progress-bar progress-bar-danger" style="width: {{negative}}%">
    </div>
</div>

<audio-player ng-hide="questionData.variants || isDone"></audio-player>
<a ng-href="" ng-click="play()" class="btn btn-success pull-right" ng-hide="questionData.variants || isDone">Слушать</a>

<form class="form-horizontal" ng-show="questionData.variants && !isDone">
    <div class="form-group">
        <div class="radio" ng-repeat="questoin in questionData.variants">
            <label>
                <input type="radio" value="{{ $index }}" ng-model="answer" ng-change="doAnswer($index)" ng-disabled="isWrong || isDisabled">{{ questoin }}
            </label>
        </div>
    </div>
    <a ng-href="" ng-click="repeat()" class="btn btn-danger pull-left" ng-show="isWrong">Повторить</a>
    <a ng-href="" ng-click="nextItem()" class="btn btn-success pull-right" ng-show="showNext">Продолжить</a>
</form>

<div ng-show="isDone">
    Тест Окончен
</div>