<h3>Коррекция речи</h3>


<div class="row">
    <form class="col-md-12">
        <select class="form-control" ng-model="currentTrack" ng-options="item.title for item in data" required></select>
    </form>
</div>

<div id="wave-1">
    <div class="progress-line"></div>
    <div class="canvas"></div>
</div>

<div id="wave-2">
    <div class="progress-line"></div>
    <div class="canvas"></div>
</div>


<div class="row">
    <div class="col-md-12">
        <a ng-href="" class="btn btn-info" ng-click="prev()">Предыдущий трек</a>
        <a ng-href="" class="btn btn-default" ng-click="playOriginal()">Слушать диктора</a>
        <a ng-href="" class="btn btn-warning" ng-click="connectAudioInToSpeakers()" ng-hide="recordInProgress">Записать себя</a>
        <a ng-href="" class="btn btn-warning" ng-click="makeItStop()" ng-show="recordInProgress">Остановить Запись</a>
        <a ng-href="" class="btn btn-danger" ng-click="playMe()">Слушать себя</a>
        <a ng-href="" class="btn btn-info" ng-click="next()">Следущий трек</a>
    </div>
</div>
