<h3>Коррекция речи</h3>


<div class="row">
    <form class="col-md-12">
        <select class="form-control">
            <option value="">Выберите трек</option>
        </select>
    </form>
</div>


<div class="row">
    <input type="file" accept="audio/*;capture=microphone">
</div>


<div class="row">
    <div class="col-md-12">
        <a ng-href="" class="btn btn-info">Предыдущий трек</a>
        <a ng-href="" class="btn btn-default" ng-click="playOriginal()">Слушать диктора</a>
        <a ng-href="" class="btn btn-warning" ng-click="connectAudioInToSpeakers()" ng-hide="recordInProgress">Записать себя</a>
        <a ng-href="" class="btn btn-warning" ng-click="makeItStop()" ng-show="recordInProgress">Остановить Запись</a>
        <a ng-href="" class="btn btn-danger" ng-click="playMe()">Слушать себя</a>
        <a ng-href="" class="btn btn-info">Следущий трек</a>
    </div>
</div>
